  <footer>
        <div class="container">
            <div class="row">
                  <ul class="list-inline quicklinks">
                      <li><h2><a class="footer" href="https://www.linkedin.com/in/steph-herbers-carleton/">LinkedIn</a></h2>
                      </li>
                      <li><h2><a class="footer" href="https://github.com/stephherbers">GitHub</a></h2>
                      </li>
                      <li><h2><a class="footer" href="mailto:sherbers489@gmail.com">Email</a></h2>
                      </li>
                  </ul>
            </div>
        </div>
    </footer>
